<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link rel="stylesheet" type="text/css" href="/css/clientHome.css">
</head>
<body>
    <ul>
        
        <li><a th:href="@{/logout}">Déconnexion</a>
		</li>
      </ul>
      <div class="center">
        <div class="row" style="display: flex; flex-wrap: wrap;">
            <div class="column" th:each="car : ${cars}"  th:if="${car.etat} == 0">
                
                <div class="card">
                    <div>
                        <img  th:src="${car.image}?@{|/images/${car.image}|}:@{/images/no-image.png}" alt="Car Image" class="pic1">
                    </div>
    
                    <h3 style="display: inline-block; margin-right: 10px;">Name :</h3><p style="display: inline-block; margin: 0;" th:text="${car.name}"></p>
                    <div></div>
                    <div>
                        <h3 style="display: inline-block; margin-right: 10px;">Category :</h3><p style="display: inline-block; margin: 0;" th:text="${car.category}"></p>
                    </div>
                    <div>
                        <h3 style="display: inline-block; margin-right: 10px;">Price :</h3><p style="display: inline-block; margin: 0;" th:text="${car.price}"></p>
                    </div>
                    <div>
                        <h3 style="display: inline-block; margin-right: 10px;">Nb_Places :</h3><p style="display: inline-block; margin: 0;" th:text="${car.nb_places}"></p>
                    </div>
					
                </div>
            </div>
        </div>
    </div>
    
		
	  </div>
	</div>




	<footer class="footer-distributed">
		<div class="footer-left">
			<h3>Company<span>logo</span></h3>
			<p class="footer-links">
				<a href="#" class="link-1">Home</a>					
				<a href="#">Blog</a>
				<a href="#">Pricing</a>
				<a href="#">About</a>
				<a href="#">Contact</a>
			</p>

			<p class="footer-company-name">Reservation Voitures © 2022.All rights deserved</p>
		</div>

		<div class="footer-center">
			<div>
				<i class="fa fa-map-marker"></i>
				<p><span>Tunisie</span> Ariana</p>
			</div>
			<div>
				<i class="fa fa-phone"></i>
				<p>+216 29 041 481</p>
			</div>

			<div>
				<i class="fa fa-envelope"></i>
				<p><a href="samirchemkhi09@gmail.com">samirchemkhi09@gmail.com</a></p>
			</div>

		</div>

		<div class="footer-right">

			<p class="footer-company-about">
				<span>About the company</span>
				Our agency seeks the satisfaction of our customers in advance by providing a service that reflects the expected good quality.
			</p>

			

		</div>

	</footer>
    
</body>
</html>



    
    

</body>
</html>
